<% include ../partials/header %>

<h1><%= campinfo.name %></h1>

<img src="<%= campinfo.image %>">

<h3>Info</h3>

<p><%= campinfo.info %></p>

<h3>Comments</h3>

<% campinfo.comments.forEach(function(comment){ %>

    <p><%= comment.text %> - <strong><%= comment.author %></strong></p>

<% }) %>

<a class="btn btn-info "href="/campgrounds">Back to Index Page!</a>

<% include ../partials/footer %>