<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">
        Edit <%= editbloginfo.title %>
    </div>
    <form class="ui form" action="/blogs/<%= editbloginfo._id %>/update" method="post">
        <div class="field">
            <label>Post Title</label>
            <input type="text" name="title" value="<%= editbloginfo.title %>">
        </div>
        <div class="field">
            <label>Image URL</label>
            <input type="text" name="image" value="<%= editbloginfo.image %>">
        </div>
        <div class="field">
            <label>Post Body</label>
            <textarea name="body" rows="4"><%= editbloginfo.body %></textarea>
        </div>
          <button class="ui inverted blue button" type="submit">Submit</button>
    </form>
</div>

<% include partials/footer %>